{% extends 'base.html.twig' %}

{% block title %}Hello CenterController!{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <img src="{{ asset(center.imagePath) }}" class="card-img-top" alt="Image du centre">
        <h1> {{ center.name }}</h1>
        <p>

            Moyenne des notes :
            {% if averageRating != null %}
                {{ averageRating }} / 5
            {% else %}
                Il n'y a pas de notes encore !
            {% endif %}

        </p>
        <div> {{ center.description }}<br>
            <strong>Le prix d'entrée est:</strong>{{ center.price }}€<br>

            <strong>Les horaires :</strong> {{ center.schedules }}<br>
            <strong>Le numero de téléphone :</strong> {{ center.phoneNumber }}<br>
        </div>


        <div class="row">
            {% for comment in comments %}
                <div class="col-lg-3">
                    <p>{{ comment.content }}</p>
                    <p>{{ comment.rating }}</p>
                </div>
            {% endfor %}
        </div>

    </div>
    <div id="map"></div>

    <a href="{{ path('app_home') }}" class="btn btn-secondary mt-3">Retour</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    var map = L.map('map').setView([45.7772, 3.0870], 8);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
    {% if center.adress and center.adress.altitude !=null and center.adress.longitude !=null %}
    L.marker([{{ center.adress.altitude }}, {{ center.adress.longitude }}]).addTo(map)
        .bindTooltip("{{ center.name|e('js') }}", { permanent: false, direction: "top" });

    {% endif %}

</script>
{% endblock %}

