{% extends 'base.html.twig' %}

{% block title %}Centre de loisirs{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Les centres de loisirs les plus fréquentés à Clermont-Ferrand</h1>
        <p>
            Faites vivre à vos enfants des moments magiques en Auvergne,<br />
            entre aventures en plein air et jeux en espace couvert !
        </p>

        <div class="row">
            <h2>Nos recommandations de centres de loisirs :</h2>
            {% for center in bestCenter %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100 center-card">
                        <img src="{{ asset(center.imagePath) }}" class="card-img-top center-card-img" alt="Image du centre" />

                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title center-title">{{ center.name }}</h5>

                            <p class="card-text center-description">
                                {{ center.description|length > 120 ? center.description|slice(0, 120) ~ '...' : center.description }}
                            </p>

                            <p class="center-activities-title">Activités :</p>
                            <ul class="center-activities-list">
                                {% for activity in center.activities %}
                                    <li>{{ activity.name }}</li>
                                {% else %}
                                    <li class="no-activity">Aucune activité</li>
                                {% endfor %}
                            </ul>

                            <div class="mt-auto">
                                <a href="{{ path('app_show_center', { id: center.id }) }}" class="btn btn-outline-primary btn-sm center-more-link">
                                    Lire la suite
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p>Aucun centre trouvé.</p>
                </div>
            {% endfor %}
        </div>

        <h2>Localisez les centres de loisirs près de chez vous !</h2>
        <div id="map" data-map-data="{{ getSerializedPoints(bestCenter) }}"></div>
    </div>
{% endblock %}
