{% extends 'base.html.twig' %}

{% block title %}Centre de loisirs{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Centres de loisirs</h1>

        <div class="row">
            {% for center in bestCenter %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="{{ asset(center.imagePath) }}" class="card-img-top" alt="Image du centre">
                        <div class="card-body">
                            <h5 class="card-title">{{ center.name }}</h5>
                            <p class="card-text"> {{ center.description }} </p>

                            <p class="mb-1">Activités :</p>
                            <ul>
                                {% for activity in center.activities %}
                                    <li>{{ activity.name }}</li>
                                {% else %}
                                    <li>Aucune activité</li>
                                {% endfor %}
                            </ul>

                            <p><a class="link-opacity-10-hover" href="{{ path('app_show_center', { id: center.id }) }}">lire la suite </a></p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p>Aucun centre trouvé.</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="map" data-map-data="{{ getSerializedPoints(bestCenter) }}"></div>
{% endblock %}

